* {
  padding: 0;
  margin: 0;
}

.wrapper {
  width: 1080px;
  margin: 0 auto;
}

video,
img {
  background-image: repeating-conic-gradient(
    lightgrey 0deg,
    lightgrey 90deg,
    white 90deg,
    white 180deg,
    lightgrey 180deg,
    lightgrey 270deg,
    white 270deg,
    white 360deg
  );
  background-size: 24px 24px;
}
